<div style="margin-top:50px; margin-bottom:50px">
    <%= form_with model: product do |form| %>
    <div>
        <%= form.label :description, style: "display: block" %>
        <%= form.rich_text_area :description %>
    </div>

    <div style="padding-top:20px">
        <%= form.submit %>
    </div>
    <% end %>
</div>